<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hone page</title>
</head>
<body>
    <h1>URL SHORTENER</h1>
    <p>Welcome to <strong>URL shortener</strong>App</p>
    <% if (locals.id) { %>
        <p>URL generated: http://localhost:8000/api/<%= id %> </p>
    <% } %>
    <div>
        <form method="POST" action="/api/url">
            <label>Enter Original URL</label>
            <input 
                type="text" 
                name="url" 
                placeholder="https://example.com" 
            />
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.No.</th>
                    <th>ShortId</th>
                    <th>Redirect URL</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>